<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Cryptocurrency, Blockchain and Masternode information, news, and updates directly from the Divi team." />
	<meta name="twitter:widgets:theme" content="light">
  <meta name="twitter:card" content="summary" />
	<meta name="twitter:image" content="https://preview.ibb.co/fxXk7y/hero_half_2.jpg" />
	<meta name="twitter:title" content="Divi Project Blog: Cryptocurrency, Blockchain, and Masternode news and updates." />
	<meta name="twitter:site" content="@DiviProject" />
	<meta property="og:title" content="Divi Blog - Masternodes made easy" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://diviproject.org" />
	<meta property="og:site_name" content="Divi Project Official Blog" />
  <meta property="og:image" content="https://preview.ibb.co/fxXk7y/hero_half_2.jpg" />
	<meta property="og:description" content="Cryptocurrency, Blockchain, and Masternode information, news, and updates directly from the Divi team." />
  <title>{{meta_title}}</title>
  <link rel="stylesheet" type="text/css" href="{{asset "css/core.min.css"}}">
  <link rel="stylesheet" type="text/css" href="{{asset "css/skin.css"}}"> 
  <link rel="alternate" href="https://blog.diviproject.org" hreflang="x-default" />
  {{ghost_head}}
</head>

<body>
  <div class="wrapper reveal-side-navigation">
    <div class="wrapper-inner">
      <div class="content clearfix">
        {{{body}}}
      </div>
      <!-- Footer -->
      <footer class="footer">
        <div class="footer-top">
          <div class="row flex">
            <div class="column width-6">
              <div class="widget">
                <h4 class="widget-title">Masternodes made easy&trade;</h4>
                <p class="mb-20">The Divi Masternode software takes the stress out of earning cryptocurrency. Divi's one-click setup process is as simple as setting up an account online and let's your computer work for you. It's time your computer became your side hustle.</p>
                <ul class="social-list list-horizontal">
                  <li>
                    <a href="https://twitter.com/diviproject">
                      <span class="icon-twitter-with-circle medium"></span>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/diviproject">
                      <span class="icon-facebook-with-circle medium"></span>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/divicoin">
                      <span class="icon-github-with-circle medium"></span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/channel/UCihooU0crqQkBOvV0_lsRnw?view_as=subscriber">
                      <span class="icon-youtube-with-circle medium"></span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/company/the-divi-project/">
                      <span class="icon-linkedin-with-circle medium"></span>
                    </a>
                  </li>
                  <li>
                    <a href="https://medium.com/diviproject">
                      <span class="icon-medium-with-circle medium"></span>
                    </a>
                  </li>
                </ul>
                <div class="divider hide show-on-mobile no-margin-top"></div>
              </div>
            </div>
            <div class="column width-5 offset-1">
              <div class="widget">
                <h4 class="widget-title">Always get the latest</h4>
                <p>Sign up for news and updates from the Divi team delivered directly to your inbox.</p>
                <div class="signup-form-container">
                  <div id="mc_embed_signup">
                    <form action="https://diviproject.us16.list-manage.com/subscribe/post?u=042c6fe1249d1d0fcbdd2c9dc&amp;id=3a480d062b" method="post"
                      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate signup-form merged-form-elements"
                      target="_blank" noValidate>
                      <div class="row">
                        <div class="column width-7">
                          <div class="field-wrapper">
                            <input type="email" name="email" class="email form-email form-element" tabIndex="2" placeholder="Email address" id="mce-EMAIL"/>
                          </div>
                        </div>
                        <div class="column width-4">
                          <div aria-hidden="true">
                            <input style="position: absolute; left: -5000px;" type="text" name="b_042c6fe1249d1d0fcbdd2c9dc_3a480d062b"
                              tabIndex="-1" value="" />
                          </div>
                          <input type="submit" value="Signup" name="subscribe" id="mc-embedded-subscribe" class="button bkg-charcoal bkg-hover-theme color-white color-hover-white"
                          />
                        </div>
                      </div>
                      <div id="mc_embed_signup_scroll">

                        {{!-- /* DO NOT REMOVE */ --}}
                        <div id="mce-responses" class="clear">
                          <div class="response" id="mce-error-response" style="display: none;"></div>
                          <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        {{!-- /* ^ DO NOT REMOVE ^ */ --}}

                      </div>
                    </form>
                  </div>
                  <div class="form-response show"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="row">
            <div class="column width-12">
              <div class="footer-bottom-inner">
                <p class="copyright pull-left">&copy; Divi. All Rights Reserved.</p>
                <a href="#" class="scroll-to-top pull-right" data-no-hide>Top</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer End -->
    </div>
  </div>
  {{ghost_foot}}
  <script>
    var max_pages = parseInt('{{pagination.pages}}');
  </script>
  <script type="text/javascript" src="{{asset "js/infinitescroll.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/master.min.js"}}"></script>
</body>

</html>