{{!< default}}

{{> "navbar"}}

{{#post}}
  <main role="main">
    <article class="{{post_class}}">
      <header>
        <!-- Intro Title Section 2 -->
				<div class="section-block intro-title-2 intro-title-2-4" 
        {{#if feature_image}}
          style="background-image: url({{feature_image}})"
        {{/if}}
        >
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<h1 class="inline no-margin-bottom" style="color: white!important; text-shadow: 1px 1px #4A4A4A">{{{title}}}</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Intro Title Section 2 End -->

        <div class="section-block clearfix no-padding">
					<div class="post-info boxed">
						<div class="row">
							<div class="column width-12">
								<span class="post-date">
                  <time datetime="{{date format="YYYY-MM-DD"}}">
                    {{date format='DD MMM YYYY'}}
                  </time>
                </span>/<span class="post-author">By 
                  {{#author}}
                    <a href={{url}}>{{name}}</a></span>
                  {{/author}}
                  /<span class="post-love"><a href="https://blog.diviproject.org" class="post-love"><span class="icon-home"></span>Blog home</a></span>	
							</div>
						</div>
					</div>

          <div class="row">
            <div class="column width-9 content-inner blog-single-post">
              <article class="post">
								
								{{!-- <div class="post-media">
									<div class="video-container">
										{{#if feature_image}}
                      <figure>
                        <img src="{{feature_image}}">
                      </figure>
                    {{/if}}
									</div>
								</div> --}}
	
								<div class="post-content">
									{{content}}
                </div>
							</article>
            </div>
            <aside class="column width-3 sidebar right">
              <div class="sidebar-inner">
                <div class="widget">
                  <div class="box bkg-grey-ultralight mb-50">
                    <h3 class="widget-title">About</h3>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate.<p>
                  </div>
                </div>
                <div class="widget">
                  <h3 class="widget-title">Related Categories</h3>
                  <ul>
                    {{#foreach tags}}
                      <li><a href="{{url}}" title={{name}}>{{name}}</a></li>
                    {{/foreach}}
                  </ul>
                </div>

                {{> "recent-posts"}}

              </div>
            </aside>
          </div>
      </header>
      
      {{> "post-pagination"}}
      
    </article>
  </main>
{{/post}}


<!-- Sidebar -->
{{!-- <aside class="column width-3 sidebar right">
  <div class="sidebar-inner">
    <div class="widget">
      <h3 class="widget-title">Find Something</h3>
      <div class="search-form-container site-search">
        <form action="#" method="get" novalidate>
          <div class="row">
            <div class="column width-12">
              <div class="field-wrapper">
                <input type="text" name="search" class="form-search form-element" placeholder="type &amp; hit enter...">
                <span class="border"></span>
              </div>
            </div>
          </div>
        </form>
        <div class="form-response"></div>
      </div>
    </div>
  </div>
</aside> --}}
<!-- Sidebar End -->
